html {
  background-color: #d9b077;
}
h1 {
  text-align: center;
}
.blank:hover {
  color: white;
  cursor: pointer;
}
.blank {
    color: sienna;
    border-bottom: 2px solid; 
  }
.wrapper {
  background-color: #d9b077;
}
.heading {
  font-family: dx-together-std, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
}
.koreanintro {
  color:  white;
  font-size:  60px;
  text-align:  center;
  font-family: 'Nanum Pen Script', cursive;
  margin-bottom: 60px;
  padding-right: 50px;
  padding-left: 50px;
}
.englishintro {
  color:  white;
  font-family: dx-together-std, sans-serif;
  font-style: normal;
  font-weight: 500;;
  font-size: 60px;
  text-align:  center;
  margin-bottom: 60px;
  padding-right: 50px;
  padding-left: 50px;
}
.clickme {
  font-family: dx-together-std, sans-serif;
  font-style: normal;
  font-weight: 500;;
  font-size: 60px;
  color: white;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes blink {
  0%{opacity: 1.0 ;}
  50%{opacity: 0.0 ;}
  100%{opacity: 1.0 ;}
}
.entries {  
  background-color: #d9b077;
  text-align: center;
}
.title {
  font-family: dx-together-std, sans-serif;
  font-style: normal;
  font-weight: 500;;
  font-size: 60px;
  color: white;
  text-align: center;
}
.entry {
  margin-top: 20px;
}
@media (max-width: 992px) {
  html {
    background-color: white;
    color: #d9b077;
  }
}
@media (max-width: 992px) {
  .blank {
    background-color: white;
    color: sienna;
  }
}
@media (hover: hover) and (max-width: 992px) {
    .blank:hover {
      color: #d9b077;
    }
  }
@media (max-width: 992px) {
  .koreanintro {
    background-color: white;
    color: #d9b077;
  }
}
@media (max-width: 992px) {
  .englishintro {
    background-color: white;
    color: #d9b077;
  }
}
@media (max-width: 992px) {
  .entries {
    background-color: white;
    color: #d9b077;
  }
}
@media (max-width: 992px) {
  .title {
    background-color: white;
    color: #d9b077;
  }
}
@media (max-width: 992px) {
  .clickme {
    background-color: white;
    color: #d9b077;
  }
}
@media (max-width: 992px) {
  .wrapper {
    background-color: white;
    color: sienna;
  }
}
