html {
  background-color: #E1CDA5;
  font-family: 'Jacques Francois Shadow', cursive;;
}

body {
  overflow: hidden;
}

.title {
  color: #7F7054;
  text-align: center;
  font-size: 80px;
  padding: 50px;
  animation: slide-in-right 1s ease-in-out;
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.title-container{
  height: 200px;
  width: 100vw;
  overflow: hidden;
}

.container1 {
  position: relative;
}

.image1 {
  position: absolute;
  z-index: 1;
  padding-top: 20px;
}

.image2 {
  position: absolute;
  z-index: 2;
  margin-left: 560px;
}
.hover:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #7F7054;
  font-size: 40px;
  padding-top: 200px;
  z-index: 3;
}

.image3 {
  position: absolute;
  z-index: 2;
  margin-left: 940px;
  padding-top: 155px;
  animation: blink 3s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}