html {
  background-color: #d9b077;
}
h1 {
  text-align: center;
}
.tool {
  position: fixed;
  top: 100px;
}
.blank {
    color: white;
    text-decoration: underline;
  }
.wrapper {
  background-color: #d9b077;
}
.heading {
  font-family: dx-together-std, sans-serif;
  font-style: normal;
  font-weight: 500;;
  font-size: 40px;
}
.word {
  display: flex;
  justify-content:  space-evenly;
  padding:40px;
  background-color: white;
  min-height: 60px;
  color:  #d9b077;
  font-size:  60px;
  text-align:  center;
  font-family: 'Nanum Pen Script', cursive;
}
.blank   {
animation-name: spin;
animation-duration: 2s;
animation-iteration-count: 1;
animation-timing-function: linear; 
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.larger {
  font-style: italic;
  transition: all 2s ease-in-out;
}
.larger:hover {
  cursor: pointer;
  font-size: 2em;
}
.drawing {
  text-align: center;
}
.drawing {
transition: all 0.5s ease;
}
.drawing:hover {
  -webkit-transform: rotate(-360deg) scale(2);
  transform: rotate(-360deg) scale(2);
  cursor: pointer;
}
.hover {
  display:  flex;
  color: white;
  justify-content:  space-evenly;
  background-color: #d9b077;
  border-radius: 20px;
  text-align: center;
  font-size: 40px;
  font-family: 'Nanum Pen Script', cursive;
  margin-bottom: 20px;
}
.text {
  display: flex;
  justify-content:  space-evenly;
  padding:40px;
  background-color: white;
  min-height: 60px;
  color:  #d9b077;
  font-size:  60px;
  text-align:  center;
  font-family: 'Nanum Pen Script', cursive;
}
.korean1:hover .dropdown1 {
  display: block;
}
.dropdown1 {
  display: none;
  position: relative;
  background-color: #d9b077;
  min-width: 50px;
  padding: 10px 10px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  font-size: 1vw; font-size: 30px;
  color: white;
  font-family: dx-together-std, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.korean2:hover .dropdown2 {
  display: block;
}
.dropdown2 {
  display: none;
  position: relative;
  background-color: #d9b077;
  min-width: 50px;
  padding: 10px 10px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  font-size: 1vw; font-size: 30px;
  color: white;
  font-family: dx-together-std, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.korean3:hover .dropdown3 {
  display: block;
}
.dropdown3 {
  display: none;
  position: relative;
  background-color: #d9b077;
  min-width: 50px;
  padding: 10px 10px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  font-size: 1vw; font-size: 30px;
  color: white;
  font-family: dx-together-std, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.korean4:hover .dropdown4 {
  display: block;
}
.dropdown4 {
  display: none;
  position: relative;
  background-color: #d9b077;
  min-width: 50px;
  padding: 10px 10px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  font-size: 1vw; font-size: 30px;
  color: white;
  font-family: dx-together-std, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.korean5:hover .dropdown5 {
  display: block;
}
.dropdown5 {
  display: none;
  position: relative;
  background-color: #d9b077;
  min-width: 50px;
  padding: 10px 10px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  font-size: 1vw; font-size: 30px;
  color: white;
  font-family: dx-together-std, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.korean6:hover .dropdown6 {
  display: block;
}
.dropdown6 {
  display: none;
  position: relative;
  background-color: #d9b077;
  min-width: 50px;
  padding: 10px 10px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  font-size: 1vw; font-size: 30px;
  color: white;
  font-family: dx-together-std, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.korean7:hover .dropdown7 {
  display: block;
}
.dropdown7 {
  display: none;
  position: relative;
  background-color: #d9b077;
  min-width: 50px;
  padding: 10px 10px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  font-size: 1vw; font-size: 30px;
  color: white;
  font-family: dx-together-std, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.test {
  text-align: center;
  font-size: 60px;
  margin-top: 20px;
  color: white;
  font-family: dx-together-std, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.option1 {
  padding: 20px 50px;
  border-radius: 30px;
  background-color: white;
  color: #d9b077;
  font-size: 50px;
  text-align: center;
  transition: all 100ms;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 300px;
  margin-right: 300px;
  font-family: 'Nanum Pen Script', cursive;
}
.option1:hover {
  cursor: pointer;
}
.option1On {
  background-color: #ff5145;
  color: white;
  font-family: 'Nanum Pen Script', cursive;
}
.option2 {
  padding: 20px 50px;
  border-radius: 30px;
  background-color: white;
  color: #d9b077;
  font-size: 50px;
  text-align: center;
  transition: all 100ms;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 300px;
  margin-right: 300px;
  font-family: 'Nanum Pen Script', cursive;
}
.option2:hover {
  cursor: pointer;
}
.option2On {
  background-color: #87cc6e;
  color: white;
  font-family: 'Nanum Pen Script', cursive;
}
.option3 {
  padding: 20px 50px;
  border-radius: 30px;
  background-color: white;
  color: #d9b077;
  font-size: 50px;
  text-align: center;
  transition: all 100ms;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 300px;
  margin-right: 300px;
  font-family: 'Nanum Pen Script', cursive;
}
.option3:hover {
  cursor: pointer;
}
.option3On {
  background-color: #ff5145;
  color: white;
  font-family: 'Nanum Pen Script', cursive;
}
.option4 {
  padding: 20px 50px;
  border-radius: 30px;
  background-color: white;
  color: #d9b077;
  font-size: 50px;
  text-align: center;
  transition: all 100ms;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 300px;
  margin-right: 300px;
  font-family: 'Nanum Pen Script', cursive;
}
.option4:hover {
  cursor: pointer;
}
.option4On {
  background-color: #ff5145;
  color: white;
  font-family: 'Nanum Pen Script', cursive;
}
.option5 {
  padding: 20px 50px;
  border-radius: 30px;
  background-color: white;
  color: #d9b077;
  font-size: 50px;
  text-align: center;
  transition: all 100ms;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 300px;
  margin-right: 300px;
  font-family: 'Nanum Pen Script', cursive;
}
.option5:hover {
  cursor: pointer;
}
.option5On {
  background-color: #ff5145;
  color: white;
  font-family: 'Nanum Pen Script', cursive;
}
.congrats {
  margin-top: 40px;
  font-family: dx-together-std, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color:  #d9b077;
  font-size:  110px;
  font-family: dx-together-std, sans-serif;
  font-style: normal;
  font-weight: 500;
}
.container   {
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear; 
  animation-play-state: paused;
}
.gj {
  font-family: dx-together-std, sans-serif;
  font-style: normal;
  font-weight: 500;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container:hover {
  animation-play-state: running;
  cursor: pointer;
}
.character {
  max-width: 100%;
  flex-basis: 50%;
}
.return {
  display: flex;
  justify-content:  space-evenly;
  padding:40px;
  background-color: #d9b077;
  min-height: 60px;
  color:  white;
  font-size:  60px;
  text-align:  center;
  font-family: dx-together-std, sans-serif;
  font-style: normal;
  font-weight: 500;
}
@media (max-width: 992px) {
  html {
    background-color: white;
    color: #d9b077;
  }
}
@media (max-width: 992px) {
  .blank {
    background-color: white;
    color: #d9b077;
  }
}
@media (max-width: 992px) {
  .container {
    background-color: #d9b077;
    color: white;
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .hover {
    background-color: white;
    color: #d9b077;
  }
}
@media (max-width: 992px) {
  .word {
    background-color: #d9b077;
    color: white;
  }
}
@media (max-width: 992px) {
  .text {
    background-color: #d9b077;
    color: white;
  }
}
@media (max-width: 992px) {
  .test {
    background-color: white;
    color: #d9b077;
  }
}
@media (max-width: 992px) {
  .option1 {
    background-color: #d9b077;
    color: white;
  }
}
@media (max-width: 992px) {
  .option1On {
    background-color: #ff5145;
    color: white;
  }
}
@media (max-width: 992px) {
  .option2 {
    background-color: #d9b077;
    color: white;
  }
}
@media (max-width: 992px) {
  .option2On {
    background-color: #87cc6e;
    color: white;
  }
}
@media (max-width: 992px) {
  .option3 {
    background-color: #d9b077;
    color: white;
  }
}
@media (max-width: 992px) {
  .option3On {
    background-color: #ff5145;
    color: white;
  }
}
@media (max-width: 992px) {
  .option4 {
    background-color: #d9b077;
    color: white;
  }
}
@media (max-width: 992px) {
  .option4On {
    background-color: #ff5145;
    color: white;
  }
}
@media (max-width: 992px) {
  .option5 {
    background-color: #d9b077;
    color: white;
  }
}
@media (max-width: 992px) {
  .option5On {
    background-color: #ff5145;
    color: white;
  }
}
@media (max-width: 992px) {
  .congrats {
    color: #d9b077;
  }
}
@media (max-width: 992px) {
  .container {
    background-color: #d9b077;
    color: white;
  }
}
@media (max-width: 992px) {
  .return {
    background-color: white;
    color: #d9b077;
  }
}



